<%- include('partials/merHeader') %>

<!-- <form action="/newProduct" method="POST">
  <div class="form-group">
    <label>Paste Image Link</label>
    <input class="form-control" type="text" name="imgLink">
  </div>
  <div class="form-group">
    <label for="productName">Name</label>
    <input type="text" class="form-control" name="productName" />
  </div>
  <div class="form-group">
    <label for="productPrice">Price in Rupees</label>
    <input type="text" class="form-control" name="productPrice" />
  </div>

  <div class="form-group">
  <label for="productCategory">Choose a category:</label>
  <select id="productCategory" name="productCategory">
    <option value="none">--select--</option>
    <option value="beautyAndPersonalCare">Beauty & Personal Care</option>
    <option value="stationary">Stationary</option>
    <option value="electronic">Electronic Items</option>
    <option value="boysFashion">Boy's Fashion</option>
    <option value="girlsFashion">Girl's Fashion</option>
    <option value="houseHold">HouseHold</option>
    <option value="kitchen">Kitchen</option>
  </select>
</div>

<div class="form-group">
    <label for="brandName">Name Of Brand</label>
    <input type="text" class="form-control" name="brandName" />
  </div>
<div class="form-group">
    <label for="description">Add Description</label>
    <input type="text" class="form-control" name="description" />
  </div>

  <button type="submit" class="btn btn-dark">ADD</button>
</form> -->




<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
      <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Add a new product</h2>
      <form action="/newProduct" method="POST">
        <div class="sm:col-span-2">
          <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Paste Image Link</label>
          <input type="text" name="imgLink" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"  placeholder="Paste Image Link" required="">
      </div>
          <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
            
              <div class="sm:col-span-2">
                  <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product Name</label>
                  <input type="text" name="productName" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Type product name" required="">
              </div>
              <div class="w-full">
                  <label for="brandName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Brand</label>
                  <input type="text" name="brandName" id="brand" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Product brand" required="">
              </div>
              <div class="w-full">
                  <label for="productPrice" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Price</label>
                  <input type="number" name="productPrice" id="price" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="$2999" required="">
              </div>
              <div>
                  <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Category</label>
                  <select id="category" name="productCategory" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                    <option value="none">--select--</option>
                    <option value="beautyAndPersonalCare">Beauty & Personal Care</option>
                    <option value="stationary">Stationary</option>
                    <option value="electronic">Electronic Items</option>
                    <option value="boysFashion">Boy's Fashion</option>
                    <option value="girlsFashion">Girl's Fashion</option>
                    <option value="houseHold">HouseHold</option>
                    <option value="kitchen">Kitchen</option>
                  </select>
              </div>
              <div>
                  <label for="itemweight" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Item Weight (kg)</label>
                  <input type="number" name="itemweight" id="item-weight" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="12" required="">
              </div> 
              <div class="sm:col-span-2">
                  <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
                  <textarea name="description" id="description" rows="8" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Your description here"></textarea>
              </div>
          </div>
          
          <button type="submit" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800" style="background-color: blue;">
              Add product
          </button>
      </form>
  </div>
</section>
<%- include('partials/footer') %>
