.current-user-chat{
    text-align: right;
    margin: 10px;
    color: black;
}

#chat-section{
    display: none;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer{
    margin-top: auto;
}